In [15]:
import pandas as pd

In [2]:
df = pd.read_csv('formattedHealthCareData.csv')

In [7]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [8]:
df.head()

,Country,Health Care Index,Infrastructure,Professionals,Cost,Medicine Availability,Government Readiness
0,South Korea,78.72,87.16,14.23,83.59,82.30,87.89
1,Taiwan,77.70,79.05,13.06,78.39,78.99,65.09
2,Denmark,74.11,90.75,30.01,82.59,92.06,96.30
3,Austria,71.32,86.18,20.25,78.99,88.23,91.80
4,Japan,70.73,78.77,21.60,74.88,74.18,93.20

In [9]:
df.describe()

,Health Care Index,Infrastructure,Professionals,Cost,Medicine Availability,Government Readiness
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,44.594494,76.272360,19.311236,61.968315,69.280562,88.592247
std,11.506106,10.071813,8.220245,10.832140,13.528203,7.894285
min,32.420000,45.460000,12.800000,40.810000,43.320000,59.080000
25%,35.640000,69.920000,14.150000,54.180000,59.350000,87.870000
50%,41.630000,74.260000,16.250000,58.230000,66.110000,89.480000
75%,48.640000,82.670000,21.240000,67.470000,75.730000,92.600000
max,78.720000,98.700000,51.280000,96.220000,98.740000,98.500000